<h2>Manage details for <%= @stylist.name() %></h2>

<!-- Client listing -->
<% if @stylist.clients().any?() %>

<% else %>
<p>
  You have no clients!
</p>
<% end %>

<!-- UPDATE -->
<br>
<label for="update-stylist-form">Update Stylist Details</label>
<form class="update-stylist-form" id="update-stylist-form" action="/stylists/<%= @stylist.id() %>" method="post">
<input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">Stylist Name</label>
    <input type="text" name="name" id="name" class="form-control" value="<%= @stylist.name() %>">

<!-- Client Selection -->
    <!-- <label for="stylist_select">Client</label>
    <select id="stylist_select" name="stylist_select" type="text" class="form-control">
      <% @clients.each() do |client| %>
        <option value="<%= client.id() %>"><%= client.name() %></option>
      <% end %>
    </select> -->
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<br><br>
<a href="/stylists" class="btn btn-success">Back</a>
